<html>
<head>
</head>
<body>
<table border="1">
   <th> Required Parameters </th>
  <tbody>
    <tr>
      <th> Name </th>
      <th> Description </th>
    </tr>
    <tr>
      <td> select gene set database </td>
      <td> Gene sets database from GSEA website. </td>
    </tr>
    <tr>
      <td> upload gene set database </td>
      <td> Gene sets database - .gmt, .gmx, .grp.
              <br> Upload a gene set if your gene set is not listed as a choice
                       for the gene sets database parameter.
      </td>
    </tr>
    <tr>
      <td> collapse probe sets </td>
      <td> Select yes to have GSEA collapse each probe set in the expression dataset into a single vector for the gene, which gets
	identified by its gene symbol. 
      </td>
    </tr>
    <tr>
      <td> select chip platform </td>
      <td> Chip file from GSEA website. </td>
    </tr>
    <tr>
      <td> upload chip platform </td>
      <td>Upload a chip file if your chip is not listed as a choice for the chip platform parameter.</td>
    </tr>
    <tr>
      <td> permutation type </td>
      <td> Type of permutation to perform. 
      </td>
    </tr>
    <tr>
      <td> number of permuatation </td>
      <td> Number of permutations to perform. 
      </td>
    </tr>
  </tbody>
</table>
</body>
</html>
