<html>

Welcome to geWorkbench, an integrative genomics platform for the analysis of genomics and proteomics data.<br>
<br>
This release contains a variety of bug fixes as well as some new features, most notably the Component Configuration Manager (CCM).  The CCM allows users to dynamically add/remove components from geWorkbench.<br>
<br>
<strong>geWorkbench 1.7 is delivered with only basic components loaded.</strong>  To select additional components specific to your own interests, please click on menu bar item <strong>Tools->Component Configuration</strong>.
<br>
<br>
<b>Press Enter to close this message.</b>
<br>

</html>