<html>

<p>Welcome to geWorkbench 2.0, an integrative genomics platform for the analysis of genomics and proteomics data.<br>
  <br>
This release contains a new Gene Ontology enrichment analysis component (GO Terms).  This component is built on Ontologizer 2.0 and provides a number of interesting new methods.  A number of other enhancements and bug fixes are also included. Please see the ReleaseNotes file (in the geWorkbench installation directory) for more details.<br>
<br>
<strong>geWorkbench 2.0 is delivered with only basic components loaded.</strong>  To select additional components specific to your own interests, please click on menu bar item <strong>Tools->Component Configuration</strong>.<br>
 <br>
  Please see http://www.geworkbench.org for a growing list of geWorkbench component tutorials and other information. <br>
   <br>
  <b>Press Enter to close this message.</b>
  <br>
  
</p>
</html>