/* edit this file to customize the monobook skin for the entire site */

span.toggleblock { color: #C20; cursor:pointer; cursor:hand; }

span.toggleblock.over { text-decoration:underline; }

.hiddenblock {
 display:block;
 width:100%;
 margin:2px 0;
 padding:3px;
 border:1px solid silver;
 background-color:#F1F1F1;
}